:root {
    --background: #1F1D2F;
    --foreground: #FFF;
    --bs-border-color: #48465B;
    --text-hover: #B5B3CB;
}

html,
body {
    max-width: 100vw;
    min-height: 100%;  /* Fallback for browsers do not support vh unit */
    min-height: 100vh;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Inter, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    padding-top: 180px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

header, footer{
    padding: 1rem;
}

.main-container{
    padding: 3.5rem 1rem;
}

@media (min-width: 576px) {
    body{
        padding-top: 105px;
    }
    header{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    footer{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .main-container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 768px) {
    header, footer{
        padding-left: 120px;
        padding-right: 120px;
    }
    .main-container{
        padding-left: 120px;
        padding-right: 120px;
    }
}

body:has(.main-container){
    background: linear-gradient(180deg, var(--bs-secondary) 45%, var(--bs-body-bg) 45%);
    background-attachment: fixed;
}

.text-spacing-10{
    letter-spacing: .1rem;
}